<% if (item.tags && item.tags.length){ %>
  <i class="icon-tags"></i>
  <% item.tags.forEach(function(tag) { %>
    <a href='<%= config.root + tag.path %>'><span class='post-tag'><%= tag.name %></span></a>
  <% }); %>
<% } %>