
<div class="hero-unit">
    <h1>HAL Management Console</h1>
    <p>HAL is the codename for the <a href="http://wildlfy.org">Wildfly</a> management console.</p>
</div>

<div class="row-fluid">
    <div class="span6">
        <h3><i class="icon-wrench" style="vertical-align:middle"></i> Server Configuration</h3>
        <p>Configure subsystems and general server attributes. Supports a wide range of subsystems and components out-of-the-box</p>

        <h3><i class="icon-eye-open" style="vertical-align:middle"></i> Runtime Status</h3>
        <p>Inspect and monitor services and applications at runtime. The most important performance indicators at a glance.</p>

        <h3><i class="icon-briefcase" style="vertical-align:middle"></i> Deployments</h3>
        <p>Easily deploy and maintain applications. Manage components on standalone servers or across large domains.</p>
    </div>

    <div class="span6">
        <h3><i class="icon-th-large" style="vertical-align:middle"></i> Domain &amp; Standalone</h3>
        <p>Works for both standalone servers and managed domains. No installation hassle. Just fire up your web browser.</p>

        <h3><i class="icon-globe" style="vertical-align:middle"></i> Localization &amp; Accessibility</h3>
        <p>Fully localized and follows standard accessability guidelines. Supporting W3C Aria standards.</p>

        <h3><i class="icon-road" style="vertical-align:middle"></i> Fully Extensible</h3>
        <p>Supports custom subsystem extensions.</p>
    </div>
</div>
